@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-apple:before { content: "\f100"; }
.flaticon-apple-1:before { content: "\f101"; }
.flaticon-arrows:before { content: "\f102"; }
.flaticon-box:before { content: "\f103"; }
.flaticon-cup:before { content: "\f104"; }
.flaticon-food:before { content: "\f105"; }
.flaticon-fruit:before { content: "\f106"; }
.flaticon-healthy:before { content: "\f107"; }
.flaticon-man:before { content: "\f108"; }
.flaticon-man-1:before { content: "\f109"; }
.flaticon-man-2:before { content: "\f10a"; }
.flaticon-medical:before { content: "\f10b"; }
.flaticon-medical-1:before { content: "\f10c"; }
.flaticon-medical-2:before { content: "\f10d"; }
.flaticon-medical-3:before { content: "\f10e"; }
.flaticon-medical-4:before { content: "\f10f"; }
.flaticon-medical-5:before { content: "\f110"; }
.flaticon-person:before { content: "\f111"; }
.flaticon-signs:before { content: "\f112"; }
.flaticon-silhouette:before { content: "\f113"; }
.flaticon-silhouette-1:before { content: "\f114"; }
.flaticon-silhouette-2:before { content: "\f115"; }
.flaticon-silhouette-3:before { content: "\f116"; }
.flaticon-silhouette-4:before { content: "\f117"; }
.flaticon-silhouette-5:before { content: "\f118"; }
.flaticon-sport:before { content: "\f119"; }
.flaticon-sport-1:before { content: "\f11a"; }
.flaticon-sports:before { content: "\f11b"; }
.flaticon-square:before { content: "\f11c"; }
.flaticon-star:before { content: "\f11d"; }
.flaticon-three:before { content: "\f11e"; }
.flaticon-time:before { content: "\f11f"; }
.flaticon-time-1:before { content: "\f120"; }
.flaticon-time-2:before { content: "\f121"; }
.flaticon-time-3:before { content: "\f122"; }
.flaticon-time-4:before { content: "\f123"; }
.flaticon-tool:before { content: "\f124"; }
.flaticon-tool-1:before { content: "\f125"; }
.flaticon-tool-2:before { content: "\f126"; }
.flaticon-tool-3:before { content: "\f127"; }
.flaticon-tool-4:before { content: "\f128"; }
.flaticon-tool-5:before { content: "\f129"; }
.flaticon-tool-6:before { content: "\f12a"; }
.flaticon-tool-7:before { content: "\f12b"; }
.flaticon-tool-8:before { content: "\f12c"; }
.flaticon-transport:before { content: "\f12d"; }
.flaticon-transport-1:before { content: "\f12e"; }
.flaticon-two:before { content: "\f12f"; }
.flaticon-two-1:before { content: "\f130"; }
.flaticon-two-2:before { content: "\f131"; }